import simplejson as json

json_file = open(r'{{oracle_home}}/config.json')
line = json_file.read()
print "%s" %line

data = json.loads("%s" %line)

admin_user = "{{domain_username}}"
admin_pass = "{{domain_password}}"
admin_listen_port = "{{admin_ListenPort}}"


connect(admin_user,admin_pass,'t3://localhost:'+admin_listen_port)
edit()
startEdit()


# Map Machines and Cluster
# ========================
for server in data['domain']['servers']:
    servername = server['name']
    machinename = server['machine']
    clustername = server['cluster']

    print "Creating Server %s" %servername

    cd ('/Servers/'+servername)
    mbean_name='/Machines/'+machinename
    cmo.setMachine(getMBean(mbean_name))
    cbean_name='/Clusters/'+clustername
    cmo.setCluster(getMBean(cbean_name))
    


# Set NodeManager Properties to Plain SSL
# =======================================
for machine in data['domain']['machines']:
    machinename = machine['name']
    cd('/Machines/'+machinename+'/NodeManager/'+machinename)
    cmo.setNMType('Plain')
    cmo.setListenAddress(machinename)
    cmo.setDebugEnabled(false)
    cmo.setListenPort(5556)


save()
activate()


